.mobileToolbar {    
    display: flex;
    padding: 0.4em;
    background: #ded7cb;
    margin: 0 -2em;
    border-top: 2px solid #d2c5b9;
}

.mobileToolbarButton {
    cursor: pointer;
    border: 2px solid #73685d;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    margin: 0 0.2em;
    background: #f9f3e7;
}

.mobileToolbarButtonActive {
    background: #73685d;
    color: #f9f3e7;
    font-weight: normal;
}

@media (max-width: 800px) and (orientation: portrait) {
    .mobileToolbar {    
        margin: 0 -0.5em;
    }
}